/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%236eea3d' fill-opacity='0.59' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  background-color: rgb(214, 11, 255);
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul {
  color: #ffbe76;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #c2ff09;
  font-size: 24px;
}
a:hover {
  font-size: larger;
  color: #b779ff;
  /* animation: link 1.2s ease-out infinite; */
}

/* @keyframes link {
    0% {
        transform: scaleX(1, 1);
    }
    50% {
        transform: scale(1.05, 1.05);
    }

    100% {
        transform: scale(1, 1);
    }
} */

.my-name {
  cursor: move;
}

.quest-container {
}

.quest-icon {
  /* animation: fade-out 2s normal; */
}

.quest-icon:active {
  color: rgb(0, 0, 0);

  transform: scale(-0.7, 0.8);
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 50;
  }

  100% {
    opacity: 100;
  }
}

.quest-box {
  position: absolute;
  right: 650px;
  bottom: 170px;
}

.quest-button {
  position: absolute;

  right: 1035px;
  bottom: 187px;
}
.quest-button2 {
  position: absolute;

  right: 675px;
  bottom: 187px;
}

.quest-button:hover {
  background-color: #c37500;
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #000000 !important;
}

.quest-button2:hover {
  background-color: #c37500;
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #000000 !important;
}
